<!DOCTYPE html>
<html>
<head>
    <title>Liste des emprunts</title>
</head>
<body>
    <h1>Liste des emprunts</h1>

    <ul>
        {% for emprunt in emprunts %}
            <li>
                {{ emprunt.media }} emprunté par {{ emprunt.membre }} le {{ emprunt.date_emprunt }}

                {% if not emprunt.date_retour %}
                    <!-- Formulaire pour rendre l’emprunt -->
                    <form method="post" action="{% url 'bibliothecaire:rendre_emprunt' emprunt.id %}">
                        {% csrf_token %}
                        <button type="submit">Rendre</button>
                    </form>
                {% else %}
                    - Rendu le {{ emprunt.date_retour }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <br>
    <a href="{% url 'bibliothecaire:accueil' %}">Retour à l'accueil</a>
</body>
</html>
html>